<!-- app/views/homepage/index.html.erb -->
<h1>Homepage</h1>
<!-- Aquí se puede incluir el controlador Stimulus para que se ejecute el React -->
<div data-controller="home">
  <!-- Aquí es donde React se montará -->
  <div id="react-root"></div>
</div>
